

body {
    margin: 20px 50px;
    background-color: black;
    background-image: url("https://wallpapercave.com/wp/XHoh3bd.jpg");
    background-size: cover;
    font-family: arial;
    color: white;
}